In [52]:
import pandas as pd
import random

In [53]:
df = pd.read_csv('DA.csv', 
                header=9, 
                usecols=["학과(부) 및 전공", "학     번", "성     명"],
                encoding='utf-8')

In [54]:
df.dropna(axis=0, inplace=True)
df.rename(columns={df.columns[0] : 'major', df.columns[1] : 'id', df.columns[2] : 'name'}, inplace=True )

In [55]:
def extract_id(column) :
    return str(column)[2:4]

def cast_to_int(column) :
    return int(column)

df['id'] = df['id'].apply(extract_id)
# df['id'] = df['id'].apply(cast_to_int)

In [56]:
df.head()

    major  id name
1  광고홍보학과  13  곽종현
2  광고홍보학과  13  윤준범
3  광고홍보학과  13  전종하
4  광고홍보학과  14  김남웅
5  광고홍보학과  14  김주환

In [57]:
df.values

array([['광고홍보학과', '13', '곽종현'],
       ['광고홍보학과', '13', '윤준범'],
       ['광고홍보학과', '13', '전종하'],
       ['광고홍보학과', '14', '김남웅'],
       ['광고홍보학과', '14', '김주환'],
       ['광고홍보학과', '14', '송현지'],
       ['광고홍보학과', '15', '도윤석'],
       ['광고홍보학과', '15', '이주영'],
       ['광고홍보학과', '15', '정서윤'],
       ['광고홍보학과', '15', '정효선'],
       ['광고홍보학과', '15', '이수진'],
       ['광고홍보학과', '16', '최연주'],
       ['광고홍보학과', '16', '김호정'],
       ['광고홍보학과', '16', '이준기'],
       ['광고홍보학과', '17', '주준태'],
       ['산업경영공학과', '13', '신준섭'],
       ['테크노프로덕트디자인학과', '16', '허은주']], dtype=object)

In [58]:
df.columns
# df.id

Index(['major', 'id', 'name'], dtype='object')

## 팀장 그룹

In [ ]:
leaders = input("팀장을 입력하세요. ex) 김철수 김영희 >").split(" ")
leaders

In [9]:
#get team mates number
mateNum = (len(df)//len(leaders))-1

#get plus team mates 
plusMate = len(df)%len(leaders)

In [10]:
df['leader'] = df['name'].isin(leaders)
df.head()

    major  id name  leader
1  광고홍보학과  13  곽종현    True
2  광고홍보학과  13  윤준범   False
3  광고홍보학과  13  전종하    True
4  광고홍보학과  14  김남웅    True
5  광고홍보학과  14  김주환   False

In [11]:
df_leader = df[df['leader']==True]
df_leader = df_leader.loc[:,:"name"]
df_leader

    major  id name
1  광고홍보학과  13  곽종현
3  광고홍보학과  13  전종하
4  광고홍보학과  14  김남웅
6  광고홍보학과  14  송현지

## 팀원 그룹

In [12]:
df_mates = df[df['leader']==False]
df_mates = df_mates.loc[:,:"name"]
df_mates.head()

    major  id name
2  광고홍보학과  13  윤준범
5  광고홍보학과  14  김주환
7  광고홍보학과  15  도윤석
8  광고홍보학과  15  이주영
9  광고홍보학과  15  정서윤

## 조건

1. 다중 전공 (if not '광고홍보학과')
2. 학번

In [13]:
df_other_major = df_mates[df_mates['major']!='광고홍보학과']
df_other_major

           major  id name
16       산업경영공학과  13  신준섭
17  테크노프로덕트디자인학과  16  허은주

## 돌려돌려 돌림판~~

In [14]:
df_mates = df_mates.sample(frac=1)
df_mates.head()

           major  id name
17  테크노프로덕트디자인학과  16  허은주
5         광고홍보학과  14  김주환
9         광고홍보학과  15  정서윤
11        광고홍보학과  15  이수진
8         광고홍보학과  15  이주영

In [14]:
# #학번 별로 
# def multimajor(column) :
#     if column != '광고홍보학과' :
#         return True
#     else :
#         return False
    

# df_mates['other_major'] = df_mates['major'].apply(multimajor)

## 돌려돌려 돌림판~

In [25]:
leader_list = list(df_leader.values)
mates = list(df_mates.values)

In [26]:
#팀장 
leaders_list = [ list(l) for l in leader_list ]
leaders_list

[['광고홍보학과', '13', '곽종현'],
 ['광고홍보학과', '13', '전종하'],
 ['광고홍보학과', '14', '김남웅'],
 ['광고홍보학과', '14', '송현지']]

In [27]:
#팀원
mates_list = [ list(m) for m in mates ]
mates_list[1]

['광고홍보학과', '14', '김주환']

In [28]:
# random.shuffle(mates_list)
# mates_list

## 조건에 맞게 배정

In [45]:
team = {}

def assignTeam(team) :
    j = 0 

    for m, i, n in leaders_list : 
        leader = n + '('+i+', '+m[:4]+')'
        team[leader] = []
        
        while len(team[leader]) < mateNum :
            mm, mi, mn = mates_list[j]
            mate = mn +  '('+ mi +', '+mm[:4]+')'
            team[leader].append( mate) 
            j += 1

assignTeam(team)
team

{'곽종현(13, 광고홍보)': ['허은주(16, 테크노프)', '김주환(14, 광고홍보)', '정서윤(15, 광고홍보)'],
 '전종하(13, 광고홍보)': ['이수진(15, 광고홍보)', '이주영(15, 광고홍보)', '정효선(15, 광고홍보)'],
 '김남웅(14, 광고홍보)': ['주준태(17, 광고홍보)', '최연주(16, 광고홍보)', '이준기(16, 광고홍보)'],
 '송현지(14, 광고홍보)': ['도윤석(15, 광고홍보)', '윤준범(13, 광고홍보)', '신준섭(13, 산업경영)']}

In [46]:
def restMate(team, plusMate) :
    
    for k in team : 
        plusMate -= 1 
        mm, mi, mn = mates_list[-(plusMate+1)]
        mate = mn +  '('+ mi +', '+mm[:4]+')'
        team[k].append(mate)
        
        if plusMate == 0 :
            break

In [47]:
restMate(team, plusMate)
team

{'곽종현(13, 광고홍보)': ['허은주(16, 테크노프)',
  '김주환(14, 광고홍보)',
  '정서윤(15, 광고홍보)',
  '김호정(16, 광고홍보)'],
 '전종하(13, 광고홍보)': ['이수진(15, 광고홍보)', '이주영(15, 광고홍보)', '정효선(15, 광고홍보)'],
 '김남웅(14, 광고홍보)': ['주준태(17, 광고홍보)', '최연주(16, 광고홍보)', '이준기(16, 광고홍보)'],
 '송현지(14, 광고홍보)': ['도윤석(15, 광고홍보)', '윤준범(13, 광고홍보)', '신준섭(13, 산업경영)']}

# 데이터 프레임으로 변환

In [48]:
# index = []

# for i in range(len(leader_list)) :
#     t_name = 'team_' + chr(65+i)
#     index.append(t_name)

m = pd.DataFrame.from_dict(team, orient='index')
m.transpose()

   곽종현(13, 광고홍보)  전종하(13, 광고홍보)  김남웅(14, 광고홍보)  송현지(14, 광고홍보)
0  허은주(16, 테크노프)  이수진(15, 광고홍보)  주준태(17, 광고홍보)  도윤석(15, 광고홍보)
1  김주환(14, 광고홍보)  이주영(15, 광고홍보)  최연주(16, 광고홍보)  윤준범(13, 광고홍보)
2  정서윤(15, 광고홍보)  정효선(15, 광고홍보)  이준기(16, 광고홍보)  신준섭(13, 산업경영)
3  김호정(16, 광고홍보)           None           None           None

In [49]:
m = m.T.T
m

                           0              1              2              3
곽종현(13, 광고홍보)  허은주(16, 테크노프)  김주환(14, 광고홍보)  정서윤(15, 광고홍보)  김호정(16, 광고홍보)
전종하(13, 광고홍보)  이수진(15, 광고홍보)  이주영(15, 광고홍보)  정효선(15, 광고홍보)           None
김남웅(14, 광고홍보)  주준태(17, 광고홍보)  최연주(16, 광고홍보)  이준기(16, 광고홍보)           None
송현지(14, 광고홍보)  도윤석(15, 광고홍보)  윤준범(13, 광고홍보)  신준섭(13, 산업경영)           None

In [50]:
m.to_csv('random_team.csv', index=True, na_rep = 'null', encoding='ms949')

In [51]:
# students = list(map(list, df.values))
# random.shuffle(students)
# students