In [279]:
import pandas as pd
import random

In [342]:
df = pd.read_csv('DA.csv', 
                header=9, 
                usecols=["학과(부) 및 전공", "학     번", "성     명"],
                encoding='utf-8')

In [343]:
df.dropna(axis=0, inplace=True)
df.rename(columns={df.columns[0] : 'major', df.columns[1] : 'id', df.columns[2] : 'name'}, inplace=True )

In [344]:
def extract_id(column) :
    return str(column)[2:4]

def cast_to_int(column) :
    return int(column)

df['id'] = df['id'].apply(extract_id)
# df['id'] = df['id'].apply(cast_to_int)

In [345]:
df.head()

    major  id name
1  광고홍보학과  13  곽종현
2  광고홍보학과  13  윤준범
3  광고홍보학과  13  전종하
4  광고홍보학과  14  김남웅
5  광고홍보학과  14  김주환

In [346]:
df.values

array([['광고홍보학과', '13', '곽종현'],
       ['광고홍보학과', '13', '윤준범'],
       ['광고홍보학과', '13', '전종하'],
       ['광고홍보학과', '14', '김남웅'],
       ['광고홍보학과', '14', '김주환'],
       ['광고홍보학과', '14', '송현지'],
       ['광고홍보학과', '15', '도윤석'],
       ['광고홍보학과', '15', '이주영'],
       ['광고홍보학과', '15', '정서윤'],
       ['광고홍보학과', '15', '정효선'],
       ['광고홍보학과', '15', '이수진'],
       ['광고홍보학과', '16', '최연주'],
       ['광고홍보학과', '16', '김호정'],
       ['광고홍보학과', '16', '이준기'],
       ['광고홍보학과', '17', '주준태'],
       ['산업경영공학과', '13', '신준섭'],
       ['테크노프로덕트디자인학과', '16', '허은주']], dtype=object)

In [347]:
df.columns
# df.id

Index(['major', 'id', 'name'], dtype='object')

## 팀장 그룹

In [349]:
leaders = input("팀장을 입력하세요. ex) 김철수 김영희 >").split(" ")
leaders

팀장을 입력하세요. ex) 김철수 김영희 >김주환 송현지 정효선 곽종현

['김주환', '송현지', '정효선', '곽종현']

In [374]:
#get team mates number
mateNum = (len(df)//len(leaders))-1

#get plus team mates 
plusMate = len(df)%len(leaders)

In [351]:
df['leader'] = df['name'].isin(leaders)
df.head()

    major  id name  leader
1  광고홍보학과  13  곽종현    True
2  광고홍보학과  13  윤준범   False
3  광고홍보학과  13  전종하   False
4  광고홍보학과  14  김남웅   False
5  광고홍보학과  14  김주환    True

In [352]:
df_leader = df[df['leader']==True]
df_leader = df_leader.loc[:,:"name"]
df_leader

     major  id name
1   광고홍보학과  13  곽종현
5   광고홍보학과  14  김주환
6   광고홍보학과  14  송현지
10  광고홍보학과  15  정효선

## 팀원 그룹

In [353]:
df_mates = df[df['leader']==False]
df_mates = df_mates.loc[:,:"name"]
df_mates.head()

    major  id name
2  광고홍보학과  13  윤준범
3  광고홍보학과  13  전종하
4  광고홍보학과  14  김남웅
7  광고홍보학과  15  도윤석
8  광고홍보학과  15  이주영

## 조건

1. 다중 전공 (if not '광고홍보학과')
2. 학번

In [376]:
df_other_major = df_mates[df_mates['major']!='광고홍보학과']
df_other_major

           major  id name
16       산업경영공학과  13  신준섭
17  테크노프로덕트디자인학과  16  허은주

## 돌려돌려 돌림판~~

In [357]:
df_mates = df_mates.sample(frac=1)
df_mates.head()

      major  id name
8    광고홍보학과  15  이주영
12   광고홍보학과  16  최연주
13   광고홍보학과  16  김호정
9    광고홍보학과  15  정서윤
16  산업경영공학과  13  신준섭

In [333]:
# #학번 별로 
# def multimajor(column) :
#     if column != '광고홍보학과' :
#         return True
#     else :
#         return False
    

# df_mates['other_major'] = df_mates['major'].apply(multimajor)

## 돌려돌려 돌림판~

In [360]:
leader_list = list(df_leader.values)
mates = list(df_mates.values)

In [364]:
#팀장 
leaders_list = [ list(l) for l in leader_list ]
leaders_list

[['광고홍보학과', '13', '곽종현'],
 ['광고홍보학과', '14', '김주환'],
 ['광고홍보학과', '14', '송현지'],
 ['광고홍보학과', '15', '정효선']]

In [383]:
#팀원
mates_list = [ list(m) for m in mates ]
mates_list[1]

'광고홍보학과'

In [363]:
# random.shuffle(mates_list)
# mates_list

## 조건에 맞게 배정

In [384]:
team = {}

def assignTeam(team) :
    i = 0 

    for m, i, n in leaders_list : 
        leader = n + '('+i+', '+m+')'
        team[leader] = []
        
        while len(team[leader]) < mateNum :
#             mm, mi, mn = mates_list[i]
#             mate = mn +  '('+ mi +', '+mm+')'
            team[leader].append( mates_list[i]) 
            i += 1

assignTeam(team)
team

TypeError: list indices must be integers or slices, not str

In [278]:
# students = list(map(list, df.values))
# random.shuffle(students)
# students

[['테크노프로덕트디자인학과', '16', '허은주', False],
 ['광고홍보학과', '15', '이주영', False],
 ['광고홍보학과', '14', '김남웅', False],
 ['산업경영공학과', '13', '신준섭', True],
 ['광고홍보학과', '13', '곽종현', False],
 ['광고홍보학과', '15', '이수진', False],
 ['광고홍보학과', '13', '윤준범', False],
 ['광고홍보학과', '13', '전종하', False],
 ['광고홍보학과', '14', '김주환', False],
 ['광고홍보학과', '16', '김호정', False],
 ['광고홍보학과', '16', '이준기', True],
 ['광고홍보학과', '15', '도윤석', False],
 ['광고홍보학과', '17', '주준태', False],
 ['광고홍보학과', '15', '정서윤', False],
 ['광고홍보학과', '14', '송현지', True],
 ['광고홍보학과', '15', '정효선', False],
 ['광고홍보학과', '16', '최연주', True]]

In [256]:
def assignTeam() :
    i = 0 
    
    for s in students :
        if s[3] == True : #leader 
            
    
        if len(v)%mateNum != 0 :
            tmp.append()
        
        while len(team[t]) < mateNum : 
            team[t].append(mates_list[i]) 
            i += 1
            
assignTeam()

In [378]:
team

{'곽종현(13, 광고홍보학과)': [],
 '김주환(14, 광고홍보학과)': [],
 '송현지(14, 광고홍보학과)': [],
 '정효선(15, 광고홍보학과)': []}

np.array 다시 pandas 데이터프레임으로 되돌리기

In [268]:
index = []

for i in range(len(leader_list)) :
    t_name = 'team_' + chr(65+i)
    index.append(t_name)
    
print("index", index)

m = pd.DataFrame(team, index =k )
m

index ['team_A', 'team_B', 'team_C', 'team_D']

ValueError: Empty data passed with indices specified.

In [262]:
m = pd.DataFrame.from_dict(team, orient='index', index=k)
m.transpose()

TypeError: from_dict() got an unexpected keyword argument 'index'