### Data
In this dataset, you are provided with 7398 movies and a variety of metadata obtained from The Movie Database (TMDB). Movies are labeled with id. Data points include cast, crew, plot keywords, budget, posters, release dates, languages, production companies, and countries.<br>

7398개의 영화 데이터와 TMDB로부터 얻은 다양한 메타데이터가 주어진다. 영화는 `id`로 라벨링된다. 출연진, 크루, 줄거리 키워드, 예산, 포스터, 출시일, 언어, 제작 회사 및 국가 등의 데이터 포인트를 포함한다. <br><br><br>

You are predicting the worldwide revenue for 4398 movies in the test file.<br><br>
테스트 파일에서 4398개의 영화에 대한 세계적인 수익을 예측해야 한다. <br><br><br>


Note - many movies are remade over the years, therefore it may seem like multiple instance of a movie may appear in the data, however they are different and should be considered separate movies. In addition, some movies may share a title, but be entirely unrelated. <br><br>
몇 년에 걸쳐 리메이크되는 영화가 많다. 데이터에서 같은 객체가 여러 개인 것처럼 보이지만, 이들은 별개의 영화로 생각해야 한다. 추가로, 어떤 영화들은 제목은 같으나, 관련은 없다. 이 역시 별개로 생각해야 한다.<br><br><br>

### Evaluation : Root-Mean-Squared-Logarithmic-Error (RMSLE)

Submissions are evaluated on Root-Mean-Squared-Logarithmic-Error (RMSLE) between the predicted value and the actual revenue. Logs are taken to not overweight blockbuster revenue movies.<br><br><br>

### Reference Kernels 

- [EDA, Feature Engineering and model interpretation](https://www.kaggle.com/artgor/eda-feature-engineering-and-model-interpretation)




<br><br><br>

### Load Data

In [1]:
import pandas as pd

In [33]:
train = pd.read_csv('./dataset/box-office-prediction/train.csv')
test = pd.read_csv('./dataset/box-office-prediction/test.csv')

### Exploratory data analysis

In [34]:
train.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

### Data dictionary 

`train['title']`과 같이 column정보 조회 <br>

모르겠는 데이터 `belongs_to_collection, popularity(관객 수? 단위는?), revenue(수익, 단위는?)`

- belongs_to_collection  ,
- budget : 예산,
- genres : 장르 `({id(장르 식별자) : drame(장르 종류)})`,
- homepage : 홈페이지 주소,
- imdb_id : 인터넷 영화 데이터베이스 식별자 ,
- original_language : 오리지날 언어, 
- original_title : 원래 타이틀(자국 언어), // 수출될 때는 영어로 번역되니 상관없을 듯
- overview : 줄거리,
- popularity : 관객 수? (단위는?),
- poster_path : 포스터 이미지주소,
- production_companies : 제작사,
- production_countries : 제작 국가,
- release_date : 출시일,
- runtime : 상영 시간,
- spoken_languages : 발화 언어,
- status : 상영 중 혹은 상영 전,
- tagline : 캐치 프레이즈,
- title : 영어 타이틀,
- Keywords : 키워드(액션, 저널리즘, 재즈 등),
- cast : 캐릭터, 배우
- crew : 감독, 프로듀서 등 (gender:2:남성)
- revenue : 수입 (단위..?)

### Pick features

budget, genres, popularity, production_companies, production_countries, runtime, spoken_language, Keywords(with genres), cast, crew

In [30]:
train.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

### To do

1. Remove `NaN`
2. Feature scaling
3. Modeling
4. Validation
4. Testing

### Feature Engineering

In [39]:
print("train :", train.shape)
print("test :", test.shape) #비어있는 column하나는 예측해야 할 revenue

train : (3000, 23)
test : (4398, 22)

In [41]:
train.info() # 값이 3000이 되지 않는 column은 feature engineering

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
id                       3000 non-null int64
belongs_to_collection    604 non-null object
budget                   3000 non-null int64
genres                   2993 non-null object
homepage                 946 non-null object
imdb_id                  3000 non-null object
original_language        3000 non-null object
original_title           3000 non-null object
overview                 2992 non-null object
popularity               3000 non-null float64
poster_path              2999 non-null object
production_companies     2844 non-null object
production_countries     2945 non-null object
release_date             3000 non-null object
runtime                  2998 non-null float64
spoken_languages         2980 non-null object
status                   3000 non-null object
tagline                  2403 non-null object
title                    3000 non-null object
Keywords                 2724 non-null object
cast                     2987 non-null object
crew                     2984 non-null object
revenue                  3000 non-null int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.1+ KB

In [42]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4398 entries, 0 to 4397
Data columns (total 22 columns):
id                       4398 non-null int64
belongs_to_collection    877 non-null object
budget                   4398 non-null int64
genres                   4382 non-null object
homepage                 1420 non-null object
imdb_id                  4398 non-null object
original_language        4398 non-null object
original_title           4398 non-null object
overview                 4384 non-null object
popularity               4398 non-null float64
poster_path              4397 non-null object
production_companies     4140 non-null object
production_countries     4296 non-null object
release_date             4397 non-null object
runtime                  4394 non-null float64
spoken_languages         4356 non-null object
status                   4396 non-null object
tagline                  3535 non-null object
title                    4395 non-null object
Keywords                 4005 non-null object
cast                     4385 non-null object
crew                     4376 non-null object
dtypes: float64(2), int64(2), object(18)
memory usage: 756.0+ KB

**결측값 개수 : 보완해야할 Features**

genres, production_companies, production_countries, runtime, spoken_language, cast, crew

다른 column은 결측값을 보완하는 용도로 써보자. <br>
ex) keywords -> genres

In [43]:
train.isnull().sum()

id                          0
belongs_to_collection    2396
budget                      0
genres                      7
homepage                 2054
imdb_id                     0
original_language           0
original_title              0
overview                    8
popularity                  0
poster_path                 1
production_companies      156
production_countries       55
release_date                0
runtime                     2
spoken_languages           20
status                      0
tagline                   597
title                       0
Keywords                  276
cast                       13
crew                       16
revenue                     0
dtype: int64

In [44]:
test.isnull().sum()

id                          0
belongs_to_collection    3521
budget                      0
genres                     16
homepage                 2978
imdb_id                     0
original_language           0
original_title              0
overview                   14
popularity                  0
poster_path                 1
production_companies      258
production_countries      102
release_date                1
runtime                     4
spoken_languages           42
status                      2
tagline                   863
title                       3
Keywords                  393
cast                       13
crew                       22
dtype: int64

### Feature1 : Belongs_to_collection

아래 같이 딕셔너리를 문자로 인식할 때는 어떻게 해야할까..?

In [77]:
for i, e in enumerate(train['belongs_to_collection'][:2]) :
    print(i,e)

0 [{'id': 313576, 'name': 'Hot Tub Time Machine Collection', 'poster_path': '/iEhb00TGPucF0b4joM1ieyY026U.jpg', 'backdrop_path': '/noeTVcgpBiD48fDjFVic1Vz7ope.jpg'}]
1 [{'id': 107674, 'name': 'The Princess Diaries Collection', 'poster_path': '/wt5AMbxPTS4Kfjx7Fgm149qPfZl.jpg', 'backdrop_path': '/zSEtYD77pKRJlUPx34BJgUG9v1c.jpg'}]

In [74]:
# #type error : 리스트가 아니라 문자열로 인식하기 때문.  

# train['collection_name'] = train['belongs_to_collection'].apply(lambda x: x[0]['name'] if x != {} else 0) #column에 담긴 딕셔너리 dictionary
# train['has_collection'] = train['belongs_to_collection'].apply(lambda x: len(x) if x != {} else 0)

# test['collection_name'] = test['belongs_to_collection'].apply(lambda x: x[0]['name'] if x != {} else 0)
# test['has_collection'] = test['belongs_to_collection'].apply(lambda x: len(x) if x != {} else 0)

# train = train.drop(['belongs_to_collection'], axis=1)
# test = test.drop(['belongs_to_collection'], axis=1)

### Feature2 : Genres

In [76]:
for i, e in enumerate(train['genres'][:5]):
    print(i, e)

0 [{'id': 35, 'name': 'Comedy'}]
1 [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10751, 'name': 'Family'}, {'id': 10749, 'name': 'Romance'}]
2 [{'id': 18, 'name': 'Drama'}]
3 [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'name': 'Drama'}]
4 [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}]

In [50]:
print('Number of genres in films')
train['genres'].apply(lambda x: len(x) if x != {} else 0).value_counts()

Number of genres in films

TypeError: object of type 'float' has no len()

### Visualization

In [46]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set() #setting seaborn default for plots

### Bar Chart for Categorical Features

bar chart로 어떤 요소가 수익에 영향을 주는지 보자.

- genres
- production_companies
- production_countries
- runtime
- spoken_language
- cast
- crew

In [ ]:
def bar_chart(feature) :
    survived = train[train['revenue']==1][feature].value_counts()
    dead = train[train['Survived']==0][feature].value_counts()
    df = pd.DataFrame([survived, dead])
    df.index = ['Survived', 'Dead']
    df.plot(kind='bar', stacked=True, figsize=(10,5))
bar_chart('Sex')