In [1]:
import sys, xlrd
import pandas as pd

In [7]:
df = pd.read_csv("./pandas_ex/random_team/random_team_form.csv", 
                usecols=[0, 1, 2],
                encoding='utf-8')

In [8]:
df.head()

  학과(부) 및 전공     학     번 성     명
0     광고홍보학과  2013050986     홍길동
1     광고홍보학과  2013051224     이영자
2     광고홍보학과  2013051291     김민준
3     광고홍보학과  2014047210     김민서
4     광고홍보학과  2014047356     이영준

In [12]:
    
tmp = df.sample(frac=1)

In [37]:
l = tmp[:5]
l.rename(columns={l.columns[0] : 'major', l.columns[1] : 'id', l.columns[2] : 'name'}, inplace=True )
l_list = list(l['name'])
l_list

['진달래', '오지영', '김민서', '송서현', '장수정']

In [17]:
len(df)

17

In [ ]:
# int(self.leaders) == 5 

tmp[:int(self.leaders)]