# <font color="#ff8104"> Let's Make Random Team </font>

In [2]:
import pandas as pd
import numpy as np

In [32]:
# df = pd.read_excel('DA.xlsx',
#                        header=9,
#                        usecols = 'D, F, G', 
#                        encoding='utf-8')
df = pd.read_csv('DA.csv', 
                header=9, 
                usecols=["학과(부) 및 전공", "학     번", "성     명"],
                encoding='utf-8')
# df.drop([0], inplace=True)
# df.dropna(axis=1, inplace=True) #결측값 제거. axis = 1하면 열 기준 제거 
df.dropna(axis=0, inplace=True) #결측값 제거. axis = 1하면 열 기준 제거 
df

      학과(부) 및 전공       학     번 성     명
1         광고홍보학과  2.013051e+09     곽종현
2         광고홍보학과  2.013051e+09     윤준범
3         광고홍보학과  2.013051e+09     전종하
4         광고홍보학과  2.014047e+09     김남웅
5         광고홍보학과  2.014047e+09     김주환
6         광고홍보학과  2.014048e+09     송현지
7         광고홍보학과  2.015048e+09     도윤석
8         광고홍보학과  2.015048e+09     이주영
9         광고홍보학과  2.015048e+09     정서윤
10        광고홍보학과  2.015048e+09     정효선
11        광고홍보학과  2.015062e+09     이수진
12        광고홍보학과  2.016014e+09     최연주
13        광고홍보학과  2.016063e+09     김호정
14        광고홍보학과  2.016063e+09     이준기
15        광고홍보학과  2.017019e+09     주준태
16       산업경영공학과  2.013046e+09     신준섭
17  테크노프로덕트디자인학과  2.016018e+09     허은주

In [41]:
df.columns

Index(['학과(부) 및 전공', '학     번', '성     명'], dtype='object')

In [10]:
df.drop(df.columns[7:], axis=1, inplace=True)
df.drop(df.columns[2], axis=1, inplace=True)
df.drop([0], inplace=True)
df.drop(df.index[17:33], inplace=True) #rows 삭제 
df.head()

KeyError: 'labels [0] not contained in axis'

In [ ]:
pop_Seoul= pd.read_excel('dataset/population_seoul.xlsx',
                       header=2,
                       usecols = 'B, D, G, J, N', #parse_cols raised warning
                       encoding='utf-8')

팀장 그룹 구하기

In [64]:
leaders = input("팀장을 입력하세요. ex) 김철수 김영희 >").split(" ")
leaders

팀장을 입력하세요. ex) 김철수 김영희 >전종하 김남웅 송현지 김주환

['전종하', '김남웅', '송현지', '김주환']

In [65]:
# 각 팀의 팀원 수 
mateNum = (len(df)//len(leaders))-1
mateNum

# 추가 팀원 수 
plusMate = len(df)%len(leaders)

In [66]:
plusMate

1

In [67]:
df.rename(columns={df.columns[5] : 'name'}, inplace=True )
df.head()

   순\n번    대  학 학과(부) 및 전공   학년       학     번 name
1   1.0  언론정보대학     광고홍보학과  4.0  2.013051e+09  곽종현
2   2.0  언론정보대학     광고홍보학과  4.0  2.013051e+09  윤준범
3   3.0  언론정보대학     광고홍보학과  4.0  2.013051e+09  전종하
4   4.0  언론정보대학     광고홍보학과  4.0  2.014047e+09  김남웅
5   5.0  언론정보대학     광고홍보학과  4.0  2.014047e+09  김주환

In [68]:
team = {}

for n in leaders :
    team[n] = []
    
team

{'전종하': [], '김남웅': [], '송현지': [], '김주환': []}

팀원 무작위 섞기

In [140]:
team['곽종현']

[]

In [69]:
df.name

1     곽종현
2     윤준범
3     전종하
4     김남웅
5     김주환
6     송현지
7     도윤석
8     이주영
9     정서윤
10    정효선
11    이수진
12    최연주
13    김호정
14    이준기
15    주준태
16    신준섭
17    허은주
Name: name, dtype: object

In [70]:
import random

mates = list(df.name)
random.shuffle(mates)
mates

['정서윤',
 '김남웅',
 '정효선',
 '이준기',
 '주준태',
 '윤준범',
 '김주환',
 '최연주',
 '이수진',
 '전종하',
 '곽종현',
 '허은주',
 '이주영',
 '송현지',
 '신준섭',
 '도윤석',
 '김호정']

팀원 그룹 : 전체 팀원 - 팀장

In [71]:
mates = [m for m in mates if m not in leaders]
mates

['정서윤',
 '정효선',
 '이준기',
 '주준태',
 '윤준범',
 '최연주',
 '이수진',
 '곽종현',
 '허은주',
 '이주영',
 '신준섭',
 '도윤석',
 '김호정']

In [72]:
def assignTeam(team) :
    i = 0 

    for l in leaders : 
        while len(team[l]) < mateNum : 
            team[l].append(mates[i]) 
            i += 1
            
assignTeam(team)

In [73]:
while plusMate != 0 :
    plusMate -= 1
    team[leaders[plusMate]].append(mates[-(plusMate+1)])

In [74]:
team

{'전종하': ['정서윤', '정효선', '이준기', '김호정'],
 '김남웅': ['주준태', '윤준범', '최연주'],
 '송현지': ['이수진', '곽종현', '허은주'],
 '김주환': ['이주영', '신준섭', '도윤석']}

In [75]:
team_mates = [t for t in team.values()]
team_mates

[['정서윤', '정효선', '이준기', '김호정'],
 ['주준태', '윤준범', '최연주'],
 ['이수진', '곽종현', '허은주'],
 ['이주영', '신준섭', '도윤석']]

In [76]:
df = pd.DataFrame({'팀' : pd.Series(leaders), '팀원': pd.Series(team_mates)})
df

     팀                    팀원
0  전종하  [정서윤, 정효선, 이준기, 김호정]
1  김남웅       [주준태, 윤준범, 최연주]
2  송현지       [이수진, 곽종현, 허은주]
3  김주환       [이주영, 신준섭, 도윤석]

결과 저장

In [77]:
df.to_csv('random_team.csv', index=False, na_rep = 'null', encoding='ms949')

이 밑은 삽질

In [88]:
df['team'] = 0

In [108]:
df.rename(columns={df.columns[6] : 'leader'}, inplace=True )

In [210]:
def is_leader(row) : 
        if row in team : 
            return 'Leader'
        else :
            return 'NaN'
        
df.leader = df.name.apply(is_leader)

['곽종현',
 '윤준범',
 '전종하',
 '김남웅',
 '김주환',
 '송현지',
 '도윤석',
 '이주영',
 '정서윤',
 '정효선',
 '이수진',
 '최연주',
 '김호정',
 '이준기',
 '주준태',
 '신준섭',
 '허은주']

In [211]:
df['team'] = 0

In [221]:
import random

4

In [235]:
def randTeam(row) :
    if row == 'Leader' :
        print(row)
        return 'Leader'
    else :
        return random.randrange(0,len(team))
    
df.team = df.leader.apply(randTeam)

Leader
Leader
Leader
Leader

In [237]:
df.team

1          1
2     Leader
3          1
4          1
5          3
6     Leader
7          1
8          2
9          0
10    Leader
11         2
12         2
13         3
14         1
15         1
16    Leader
17         1
Name: leader, dtype: object

In [238]:
df.groupby('team')['name'].apply(list)

team
0    [곽종현, 윤준범, 전종하, 김남웅, 김주환, 송현지, 도윤석, 이주영, 정서윤, ...
Name: name, dtype: object

추가적인 기능 넣기

In [30]:
df = pd.read_excel('DA.xlsx',
                       header=9,
                       usecols = 'D, F, G', 
                       encoding='utf-8')

#필요없는 행 삭제 
df.drop([0], inplace=True)
df.drop(df.index[17:33], inplace=True) #rows 삭제 

#rename
df.rename(columns={df.columns[0]: 'major', df.columns[1]: 'student_id', df.columns[2]: 'name'}, inplace=True )

In [31]:
df = df.reindex(columns=columnsTitles)
df.head()

     student_id   major name
1  2.013051e+09  광고홍보학과  곽종현
2  2.013051e+09  광고홍보학과  윤준범
3  2.013051e+09  광고홍보학과  전종하
4  2.014047e+09  광고홍보학과  김남웅
5  2.014047e+09  광고홍보학과  김주환

### output

1. 원본 데이터에서 행 별로 리스트 만든 후 매핑 
2. 팀장 그룹 / 팀원 그룹 나누고
3. 팀원 그룹 셔플 
4. 그룹핑
5. 조건 확인 : 조건 충족할 때까지 셔플

데이터프레임 -> 리스트로 변환

In [99]:
# df_list = df.apply(lambda x: x.tolist(), axis=1)
stu = df.values.tolist()
stu

[[2013050986.0, '광고홍보학과', '곽종현'],
 [2013051224.0, '광고홍보학과', '윤준범'],
 [2013051291.0, '광고홍보학과', '전종하'],
 [2014047210.0, '광고홍보학과', '김남웅'],
 [2014047356.0, '광고홍보학과', '김주환'],
 [2014047538.0, '광고홍보학과', '송현지'],
 [2015047501.0, '광고홍보학과', '도윤석'],
 [2015047974.0, '광고홍보학과', '이주영'],
 [2015048031.0, '광고홍보학과', '정서윤'],
 [2015048040.0, '광고홍보학과', '정효선'],
 [2015061894.0, '광고홍보학과', '이수진'],
 [2016013590.0, '광고홍보학과', '최연주'],
 [2016062642.0, '광고홍보학과', '김호정'],
 [2016062651.0, '광고홍보학과', '이준기'],
 [2017018722.0, '광고홍보학과', '주준태'],
 [2013045850.0, '산업경영공학과', '신준섭'],
 [2016018486.0, '테크노프로덕트디자인학과', '허은주']]

팀장 그룹

In [97]:
leaders = input("팀장을 입력하세요. ex) 김철수 김영희 >").split(" ")
leaders

팀장을 입력하세요. ex) 김철수 김영희 >송현지 이주영 정서윤 김호정

['송현지', '이주영', '정서윤', '김호정']

데이터 프레임 : 팀장 그룹

In [130]:
df_leaders = df[df['name'].isin(leaders)]
df_leaders

#list
df_leaders_list = df_leaders.values.tolist()

데이터 프레임 : 팀원 그룹

In [123]:
df_mates = df[~df['name'].isin(leaders)]
df_mates.head()

     student_id   major name
1  2.013051e+09  광고홍보학과  곽종현
2  2.013051e+09  광고홍보학과  윤준범
3  2.013051e+09  광고홍보학과  전종하
4  2.014047e+09  광고홍보학과  김남웅
5  2.014047e+09  광고홍보학과  김주환

shuffle rows

In [152]:
df_mates = df_mates.apply(np.random.permutation)  #axis = 1 : columns을 무작위로 섞는다.

In [153]:
df_mates
df_mates_list = df_mates.values.tolist()

In [154]:
df_mates_list

[[2015047501.0, '광고홍보학과', '김주환'],
 [2014047356.0, '광고홍보학과', '전종하'],
 [2016018486.0, '광고홍보학과', '정효선'],
 [2015061894.0, '광고홍보학과', '곽종현'],
 [2013051224.0, '광고홍보학과', '주준태'],
 [2016013590.0, '광고홍보학과', '이수진'],
 [2016062651.0, '광고홍보학과', '신준섭'],
 [2015048040.0, '광고홍보학과', '김남웅'],
 [2017018722.0, '광고홍보학과', '이준기'],
 [2013050986.0, '테크노프로덕트디자인학과', '도윤석'],
 [2014047210.0, '산업경영공학과', '윤준범'],
 [2013051291.0, '광고홍보학과', '허은주'],
 [2013045850.0, '광고홍보학과', '최연주']]

In [155]:
df_leaders_list

[[2014047538.0, '광고홍보학과', '송현지'],
 [2015047974.0, '광고홍보학과', '이주영'],
 [2015048031.0, '광고홍보학과', '정서윤'],
 [2016062642.0, '광고홍보학과', '김호정']]

In [172]:
from collections import defaultdict

In [180]:

teams_dict = defaultdict(lambda x : list)

# for i, m in enumerate(df_mates_list) : 
#     teams_dict[leaders[i%len(leaders)]] = [m]

In [181]:
teams_dict['k'] = 0

In [182]:
teams_dict

defaultdict(<function __main__.<lambda>(x)>, {'k': 0})