# <font color="#ff8104"> Let's Make Random Team </font>

In [121]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_excel('DA.xlsx',header=9)

In [35]:
df.drop([0], inplace=True)

In [36]:
df.head()

,순 번,대 학,Unnamed: 2,학과(부) 및 전공,학년,학 번,성 명,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 43,과제 1,과제 2,과제 3,출석,중간,기말,합계,비고,Unnamed: 52
1,1.0,언론정보대학,NaN,광고홍보학과,4.0,2.013051e+09,곽종현,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,언론정보대학,NaN,광고홍보학과,4.0,2.013051e+09,윤준범,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,언론정보대학,NaN,광고홍보학과,4.0,2.013051e+09,전종하,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,언론정보대학,NaN,광고홍보학과,4.0,2.014047e+09,김남웅,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5.0,언론정보대학,NaN,광고홍보학과,4.0,2.014047e+09,김주환,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df.drop(df.columns[7:], axis=1, inplace=True)

In [48]:
df.drop(df.index[17:33], inplace=True)

In [54]:
df.drop(df.columns[2], axis=1, inplace=True)

In [63]:
df.head()

   순\n번    대  학 학과(부) 및 전공   학년       학     번 성     명
1   1.0  언론정보대학     광고홍보학과  4.0  2.013051e+09     곽종현
2   2.0  언론정보대학     광고홍보학과  4.0  2.013051e+09     윤준범
3   3.0  언론정보대학     광고홍보학과  4.0  2.013051e+09     전종하
4   4.0  언론정보대학     광고홍보학과  4.0  2.014047e+09     김남웅
5   5.0  언론정보대학     광고홍보학과  4.0  2.014047e+09     김주환

In [58]:
teamNum = int(input("팀 개수 입력하세요. >"))

팀 개수 입력하세요. >4

In [140]:
leaders = input("팀장을 입력하세요. ex) 김철수 김영희 >").split(" ")

팀장을 입력하세요. ex) 김철수 김영희 >송현지 신준섭 정효선 윤준범

In [141]:
leaders

['송현지', '신준섭', '정효선', '윤준범']

In [68]:
# 각 팀의 팀원 수
mateNum = len(df)//teamNum
mateNum

4

In [142]:
team = {}

for i, n in enumerate(leaders) :
    team[n] = i

In [143]:
team

{'송현지': 0, '신준섭': 1, '정효선': 2, '윤준범': 3}

In [88]:
# for t in team : 
#     if df.columns[6] == t : 
#         df['team'] = team[t]

df['team'] = 0

In [101]:
df.drop(df.columns[7], axis=1, inplace=True)

In [103]:
df.head()

   순\n번    대  학 학과(부) 및 전공   학년       학     번 성     명  team
1   1.0  언론정보대학     광고홍보학과  4.0  2.013051e+09     곽종현     0
2   2.0  언론정보대학     광고홍보학과  4.0  2.013051e+09     윤준범     0
3   3.0  언론정보대학     광고홍보학과  4.0  2.013051e+09     전종하     0
4   4.0  언론정보대학     광고홍보학과  4.0  2.014047e+09     김남웅     0
5   5.0  언론정보대학     광고홍보학과  4.0  2.014047e+09     김주환     0

In [108]:
df.rename(columns={df.columns[5] : 'name'}, inplace=True )

In [210]:
def is_leader(row) : 
        if row in team : 
            return 'Leader'
        else :
            return 'NaN'
        
df.leader = df.name.apply(is_leader)

In [ ]:
df.rename(columns={df.columns[6] : 'leader'}, inplace=True )

In [211]:
df['team'] = 0

In [221]:
import random

4

In [235]:
def randTeam(row) :
    if row == 'Leader' :
        print(row)
        return 'Leader'
    else :
        return random.randrange(0,len(team))
    
df.team = df.leader.apply(randTeam)

Leader
Leader
Leader
Leader

In [237]:
df.team

1          1
2     Leader
3          1
4          1
5          3
6     Leader
7          1
8          2
9          0
10    Leader
11         2
12         2
13         3
14         1
15         1
16    Leader
17         1
Name: leader, dtype: object

In [238]:
df.groupby('team')['name'].apply(list)

team
0    [곽종현, 윤준범, 전종하, 김남웅, 김주환, 송현지, 도윤석, 이주영, 정서윤, ...
Name: name, dtype: object

In [160]:
np.random.seed(0)
np.random.rand(len(df)-len(team))*4

array([2.19525402, 2.86075747, 2.4110535 , 2.17953273, 1.6946192 ,
       2.58357645, 1.75034885, 3.567092  , 3.85465104, 1.53376608,
       3.16690015, 2.11557968, 2.27217824])